@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Trängselskatt I Stockholm</h1>
    <p>Här kan du se vilka datum det är trängselskatt i Stockholm.<br />
        Du kan välja i flikarna i toppen av sidan</a>.</p>
</div>