@page
@model PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>Use this page to detail your site's privacy policy.
    this is a test.
<<<<<<< HEAD
    test 2.
    test 4. 
    
=======
>>>>>>> c2674e7c65a624be701b60e1808387d4983e944a
</p>
